<a href="https://colab.research.google.com/github/GastonRAraujo/Materia-Ap_Maq/blob/master/Proyecto_Final/DownloadData_wAPI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Utilizando la API de Kaggle se descargará el dataset para luego subirlo a GitHub y asi agilizar su uso.

Primero montamos google drive.

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

Luego debemos localizar la carpeta donde se encuentra el archivo "json" o token que nos permite realizar la descarga.

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = '/gdrive/MyDrive/UNS/Aprendizaje_de_maquina/Proyecto_Final'

Kaggle nos proporciona el codigo que debemos utilizar para descargar el dataset que querramos

In [3]:
!kaggle competitions download -c asap-aes

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.10 / client 1.5.4)
Downloading valid_set.xlsx.zip to /content
  0% 0.00/2.01M [00:00<?, ?B/s]
100% 2.01M/2.01M [00:00<00:00, 67.7MB/s]
Downloading valid_sample_submission_1_column_no_header.csv to /content
  0% 0.00/14.9k [00:00<?, ?B/s]
100% 14.9k/14.9k [00:00<00:00, 14.9MB/s]
Downloading Training_Materials.zip to /content
 75% 41.0M/55.0M [00:00<00:00, 38.5MB/s]
100% 55.0M/55.0M [00:01<00:00, 56.1MB/s]
Downloading valid_sample_submission_2_column.csv to /content
  0% 0.00/41.4k [00:00<?, ?B/s]
100% 41.4k/41.4k [00:00<00:00, 39.7MB/s]
Downloading test_set.tsv.zip to /content
  0% 0.00/1.60M [00:00<?, ?B/s]
100% 1.60M/1.60M [00:00<00:00, 109MB/s]
Downloading valid_set.tsv.zip to /content
  0% 0.00/1.60M [00:00<?, ?B/s]
100% 1.60M/1.60M [00:00<00:00, 231MB/s]
Downloading valid_sample_submission_1_column.csv to /content
  0% 0.00/14.9k [00:00<?, ?B/s]
100% 14.9k/14.9k [00:00<00:00, 14.0MB/s]
Downloading valid_set.xls.zip to /content
  0% 0.00/1.79M [00:00<?, ?B/s]
100% 1.79M/1.79M [00:00<00:00, 228MB/s]
Downloading training_set_rel3.xls.zip to /content
  0% 0.00/5.49M [00:00<?, ?B/s]
100% 5.49M/5.49M [00:00<00:00, 90.0MB/s]
Downloading Essay_Set_Descriptions.zip to /content
  0% 0.00/214k [00:00<?, ?B/s]
100% 214k/214k [00:00<00:00, 216MB/s]
Downloading training_set_rel3.tsv.zip to /content
  0% 0.00/4.86M [00:00<?, ?B/s]
100% 4.86M/4.86M [00:00<00:00, 44.7MB/s]
Downloading training_set_rel3.xlsx.zip to /content
  0% 0.00/6.20M [00:00<?, ?B/s]
100% 6.20M/6.20M [00:00<00:00, 57.1MB/s]
Downloading valid_sample_submission_5_column.csv to /content
  0% 0.00/88.5k [00:00<?, ?B/s]
100% 88.5k/88.5k [00:00<00:00, 162MB/s]

In [4]:
!unzip training_set_rel3.tsv.zip

!unzip valid_set.xlsx.zip

Archive:  training_set_rel3.tsv.zip
  inflating: training_set_rel3.tsv
Archive:  valid_set.xlsx.zip
  inflating: valid_set.xlsx

Unificaremos dos archivos ya que poseen los datos de validación repartidos entre ambos. Esto se explica en detalle al final del archivo.

In [5]:
import pandas as pd

df1 = pd.read_csv('/content/valid_sample_submission_5_column.csv')
df1.head(3)

   prediction_id  essay_id  essay_set  essay_weight  predicted_score
0           1788      1788          1           1.0                7
1           1789      1789          1           1.0                8
2           1790      1790          1           1.0                9

In [6]:
df2 = pd.read_excel('/content/valid_set.xlsx')
df2.head(3)

   essay_id  essay_set  ... domain1_predictionid  domain2_predictionid
0      1788          1  ...                 1788                   NaN
1      1789          1  ...                 1789                   NaN
2      1790          1  ...                 1790                   NaN

[3 rows x 5 columns]

In [7]:
df2.drop(columns=['domain1_predictionid',	'domain2_predictionid'],inplace=True)

df2['predicted_score'] = df1['predicted_score']

df2.to_csv('valid_set.csv', index=False)
df2.head()

   essay_id  ...  predicted_score
0      1788  ...                7
1      1789  ...                8
2      1790  ...                9
3      1791  ...                9
4      1792  ...                9

[5 rows x 4 columns]

Por último corremos el siguiente comando que localiza la carpeta donde se encuentran los datos descargados y la copia a la carpeta de destino en nuestro drive para evitar que sean eliminados al terminar la sesion de Colab

In [ ]:
#path that contains folder you want to copy
%cd /content
%cp -av /content /gdrive/MyDrive/UNS/Aprendizaje_de_maquina/Proyecto_Final/data

O si solo queremos ciertos archivos:

In [8]:
#path that contains folder you want to copy
%cd /content
%cp -av /content/training_set_rel3.tsv /gdrive/MyDrive/UNS/Aprendizaje_de_maquina/Proyecto_Final/data

/content
'/content/training_set_rel3.tsv' -> '/gdrive/MyDrive/UNS/Aprendizaje_de_maquina/Proyecto_Final/data/training_set_rel3.tsv'

In [9]:
#path that contains folder you want to copy
%cd /content
%cp -av /content/valid_set.csv /gdrive/MyDrive/UNS/Aprendizaje_de_maquina/Proyecto_Final/data

/content
'/content/valid_set.csv' -> '/gdrive/MyDrive/UNS/Aprendizaje_de_maquina/Proyecto_Final/data/valid_set.csv'

Lo siguiente es subir al [repositorio](https://github.com/GastonRAraujo/Materia-Ap_Maq) del proyecto los archivos necesarios, ya que el dataset consta de archivos extra como documentacion, distintos formatos para los datos...
De esta forma podremos acceder a ellos utilizando directamente la libreria pandas y el link que nos otorga GitHub para cada archivo.

Es importante leer la documentación ya que contiene información sobre la estructura de los datos. Esto nos permitirá hacer un mejor procesamiento de los mismos. Por ejemplo los datos de validación se encontraban separados en dos hojas de cálculos distintas, las cuales contenían por un lado los ensayos y su "id" y por otro lado el "id" y la nota correspondiente. El archivo "valid_sample_submission_5_column.csv" posee el puntaje correspondiente a los datos de validación, "valid_set.xlsx" que contiene los ensayos de validación y por último "valid_set.csv" fue creado y contiene los datos de validación.